<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>hello world</title>
  <script type="text/javascript">
    function mobileCallJs() {
      alert('mobileCallJs');
    }
  </script>
</head>
<body>
   <div id="root"></div>
</body>
</html>
